opencv-python-headless>=4.5.4.60,<5.0.0.0
torch==1.13.0+cu112
torchvision==0.14.0+cu112
torchaudio==0.13.0
tensorflow==2.10.1
pillow
numpy
fastapi
uvicorn
python-multipart
pytesseract
paddlepaddle-gpu==2.4.2.post112
paddleocr
requests
git+https://github.com/VikParuchuri/surya.git
numpy
jinja2
python-multipart
requests
