opencv-python-headless
tensorflow
pillow
numpy
fastapi
uvicorn
python-multipart
pytesseract
paddlepaddle-gpu
paddleocr
requests
git+https://github.com/VikParuchuri/surya.git
numpy
jinja2
python-multipart
requests
